{% extends "base_loggedIn.html" %}

{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_pages.css' %}"/>
    <div class="course-list-page">
        <div class="course-list-header">
            <a href="{% url 'institution_home' %}">Home</a>
            <a href="{% url 'institution_home' %}?request_profile=True">Profile</a>
        </div>
        <span class="title">Courses</span>
        {% if course_exist %}
            <table>
                <thead>
                <tr>
                    <th scope="col" style="border: 1px solid black;">Course ID</th>
                    <th scope="col" style="border: 1px solid black;">Course Name</th>
                </tr>
                </thead>
                <tbody>
                {% for course in course_list %}
                    <tr>
                        <td style="border: 1px solid black; padding: 5px" align="center">{{ course.id }}</td>
                        <td style="border: 1px solid black; padding: 5px" align="center"><a
                                href="{% url 'complete_course_details' %}?course_id={{ course.id }}"> {{ course.name }} </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% if msg %}
        <script>
            alert('{{ msg }}');
        </script>
    {% endif %}
{% endblock %}