{% extends "base_loggedIn.html" %}

{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <div class="login-page">
    <form action="{% url 'create_course' %}" method="POST"> {% csrf_token %}
        <span class="title">Create Course</span>
        <label> Course Name </label>
        <input type="text" name="name" placeholder="Enter course name" required/> <br> <br>
        <label> Course Description </label>
        <input type="text" name="course_description" placeholder="About the course"/> <br> <br>
        <button type="submit">Create Course</button>
        <button type="button">
                <a href="{% url 'institution_home' %}">Cancel</a>
        </button>
    </form>
    </div>
    {% if msg %}
        <script>
            alert('{{ msg }}');
        </script>
    {% endif %}
{% endblock %}