{% extends "base_loggedIn.html" %}

{% block body %}
    <a href="{% url 'instructor_home' %}">Home</a>
    <h1>Instructor Home</h1>
    <a href="{% url 'instructor_home' %}?request_profile=True">Profile</a>
    {% if course_exist %}
        <h4>Courses</h4>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="border: 1px solid black;">Course ID</th>
                    <th scope="col" style="border: 1px solid black;">Course Name</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                    <tr>
                        <td style="border: 1px solid black; padding: 5px" align="center">{{ course.id }}</td>
                        <td style="border: 1px solid black; padding: 5px" align="center"><a href="{% url 'instructor_course_details' %}?course_id={{ course.id }}"> {{ course.name }} </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if requested_profile %}
        <a href="{% url 'instructor_home' %}?req_update_profile=True">Update Profile</a>
        <h3> Details </h3>
        ID: {{ user_details.id }}
        <br>First Name: {{ user_details.first_name }}
        <br>Last Name: {{ user_details.last_name }}
        <br>Email: {{ user_details.email }}
    {% endif %}
    {% if req_update_profile %}
        <br>
        <form action="{% url 'instructor_home' %}" method="POST"> {% csrf_token %}
            <label> First Name </label>
            <input type="text" name="first_name" value="{{ user_details.first_name }}" required/> <br> <br>
            <label> Last Name </label>
            <input type="text" name="last_name" value="{{ user_details.last_name }}" required/> <br> <br>
            <label> Password </label>
            <input type="password" name="password" placeholder="Enter new password" value="{{ user_details.password }}"/>
            <br><br><button type="submit">Update</button>
        </form>
    {% endif %}
    <br> <br> {{ msg }}
{% endblock %}