{% extends "base.html" %}

{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}"/>
    <div class="payment-page">
        <span class="title">Payment Details</span>
        <div class="content">
            <span>Username: {{ name }}</span>
            <span>Email: {{ email }}</span>
            <span>Plan: {{ plan }}</span>
            <span>Amount: {{ amount }}</span>
            <span>Currency: {{ currency }}</span>
            <form action="{% url 'institution_signup' %}" method="POST"> {% csrf_token %}
                <button type="submit">Pay</button> &nbsp;
                <button type="button">
                    <a href="{% url 'home' %}">Cancel</a>
                </button>
            </form>
        </div>
    </div>
{% endblock %}