.login-page{
    display: flex;
}
.login-page .title{
    color: #154cff;
    font-size: 24px;
    align-self: center;
    font-weight: 700;
}
.login-page form{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    padding: 10px;
    width: 550px;
    box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);
}

.login-page .login-form{
    align-items: center;
}

.login-page input{
    /*margin: 10px;*/
    /*border: none;*/
    /*border-bottom: 1px solid #000000;*/
    /*outline: none;*/
    /*width: 95%;*/

    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /* border-radius: 20px;*/
    /* border: 1px solid #2d9fd9;*/
    /* color: black;*/
    /* height: 30px;*/
    /* padding-left: 10px;*/
    /* background-color: blue;*/
    outline: none;
    border: none;
    padding: 0 10px;
    width: 300px;
    height: 30px;
    /*background: linear-gradient(89.1deg,rgba(0,0,255,0.10196078431372549),rgba(255,0,0,0.10196078431372549));*/
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.058823529411764705);
    border-radius: 45px;
    transition: all .2s ease-in-out;
}
.login-page button{
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: none;
    align-self: center;
    background-color: #154cff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
}
.login-page a{
    text-decoration: none;
    color: #ffffff;
}
.login-page input:focus{
    background:white ;
}

.login-page button:hover {
  background: #1298ff;
}
.login-page input{
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: grey;
}

.login-page input::placeholder {
  color: grey;
}

.login-page input:focus::placeholder {
  color: grey;
}
.login-page .row{
    display: flex;
    flex-direction: row;
    color: grey;
}